{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}

<h3 class="text-center mb-3">{% trans "Change Password" %}</h3>

{% url 'account_change_password' as action_url %}
{% element form form=form method="post" action=action_url %}
  {% slot body %}
    {% csrf_token %}
    {{ redirect_field }}
    {% element fields form=form %}{% endelement %}
  {% endslot %}

  {% slot actions %}
    <div class="d-grid gap-2">
      {% element button type="submit" %}
        {% trans "Change Password" %}
      {% endelement %}

      <a class="btn btn-outline-dark w-100" href="{% url 'account_reset_password' %}">
        {% trans "Forgot Password?" %}
      </a>
    </div>
  {% endslot %}
{% endelement %}

{% endblock inner_content %}
