{% extends 'base.html' %}
{% load static %}

{% block title %}Artist Bio | Tomozart{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card login-card-shadow p-4">
        <h1 class="mb-3">{{ name }}</h1>
        <p>{{ bio }}</p>
        <hr>
        <h5>Connect with me:</h5>
        <ul>
            {% for platform, link in social_links.items %}
                <li><a href="{{ link }}" target="_blank">{{ platform|title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}