{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>
<h2>By {{ post.author.first_name }} {{ post.author.last_name }}  on {{ post.created_on }}</h2>
{% if post.image %}
<img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.title }}">
{% endif %}
<p>{{ post.content|safe }}</p>
<br/>
<p>{{ post.content }}</p>
<br/><br/>
<h1>Add Posts!</h1>
<a href="{% url 'delete_post' post.id %}">Delete</a>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success">Post</button>
        
    </form>
</div>

<a href="{% url 'blog' %}" class="btn btn-success">Back</a>

{% endblock %}